.search {
    background-color: #E2EBF3;
    border-radius: 12px;
    margin: 56px auto 0;
    max-width: 1176px;
    padding: 32px;

    .title {
        color: #252525;
        font-family: 'InterMedium';
        font-size: 20px;
    }

    .warning {
        color: #D71010;
        font-size: 14px;
        margin-top: 16px;
    }
}