.wrapper {
    background: #FAFCFE;
    border: 1px solid #425F80;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 8px 8px 8px 20px;
    width: 100%;
    margin-bottom: 16px;

    input {
        background-color: unset;
        border: none;
        color: #7893B0;
        font-family: 'InterRegular', sans-serif;
        font-size: 16px;
        outline: none;
        width: 100%;

        &::placeholder {
            color: #7893B0;
        }
    }
}

.checkbox_wrapper {
    display: flex;
}

.separator {
    margin-right: 18px;
}

.tru_type {
    font-size: 14px;
    display: flex;
}

.ml_12 {
    margin-left: 12px;
    cursor: pointer;
}