.title {
    align-items: center;
    color: #7893B0;
    display: flex;
    margin-bottom: 15px;

    .logo {
        margin-right: 10px;
    }
}

.time {
    line-height: 24px;
    max-width: 225px;
}