@import "./styles/fonts.scss";

body {
  margin: 0;
  font-family: 'InterRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
