.contacts {
    font-family: 'InterSemiBold';
    font-size: 30px;
    margin: 56px auto 0;
    max-width: 1176px;
}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1176px;
    margin: 30px auto;
    flex-wrap: wrap;
}

.subtitle {
    font-family: "InterMedium";
    font-size: 20px;
    margin: 30px auto;
    max-width: 1176px;
}